html,
body,
#visualization {
    height: 100%;
}

body {
  padding-top: 75px;
}

.button-col {
  text-align: center;
  margin-top: 20px;
}

i.fa.fa-question {
    color: white;
}

.borderless-button {
    background: none;
    outline: none;
}

.nav-button {
  border-color: gray;
}

.nav-button:hover {
  background-color: #b7b7b7;
  cursor: pointer;
}

#pageTitle {
    color: white;
    font-family: Helvetica, Geneva, sans-serif;
    font-size: 30px;
    text-align: center;
}

#help {
    position: fixed;
    bottom: 100px;
    width: 30%;
    left: 70%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-family: Helvetica, Geneva, sans-serif;
    font-size: 30px;
    padding: 20px;
}

#titlebar {
    position: fixed;
    top: 100px;
    width: 30%;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-family: Helvetica, Geneva, sans-serif;
    font-size: 30px;
    padding: 20px;
    -webkit-transition: left 1s ease, right 1s ease;
    -moz-transition: left 1s ease, right 1s ease;
    -o-transition: left 1s ease, right 1s ease;
    transition: left 1s ease, right 1s ease;
}

#description {
    font-size: 20px;
    padding: 10px;
}

#test_notes {
    font-size: 20px;
    padding: 10px;
}

#result {
    font-size: 30px;
    padding-top: 10px;
}

#deficiency_text {
    font-size: 20px;
    padding: 10px;
}

#titlebar.shown {
    left: 70%;
}

#navbar {
    background-color: #3b5fac;
    height: 75px;
    font-family: Helvetica, Geneva, sans-serif;
}

.inset_logo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left:-26.625px;
    margin-top: 18.875px;
    z-index: 1;
}

div#visualization {
    margin-top: 37.5px;
}

#navbarsExampleDefault {}
