html, body { 
    margin:0; 
    padding:0; 
    height:100%; 
  }

div {
    height:100%;
    width:100%;
}

iframe{
    height:100%;
    width:100%;
}

.esri-layer-list-panel {
    margin: 0px 0px;
}